@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global.css or relevant file */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
